html {
    display: table;
    margin: auto;
}

body {
    display: flex;
    min-height: 50vh;
    flex-direction: column;
    background: #4ECDE4;
}

main {
    flex: 1 0 auto;
}

.login-page {
    border: 2px solid #FFF;
    padding: 20px;
}

.banner {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    background-image: url("../image/login-background.png");
    background-size: cover;
    background-position: 50% 0%;
    background-repeat: no-repeat;
    filter: blur(16px);
}